<%= form_with(model: album, :html => { enctype:"multipart/form-data"})  do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,
      :class => "field__title" %>
    <%= form.text_field :name,
      :class => "field__input field__input-name" %>
  </div>

  <div class="field">
    <%= form.label :photos,
      :class => "field__title" %>
    <%= form.file_field :photos, multiple: true,
      :class => "field__input field__input-file" %>
  </div>

  <div class="field">
    <%= form.label :album_date,
      :class => "field__title" %>
    <%= form.date_field :album_date,
      :class => "field__input" %>
  </div>

  <div class="actions">
    <%= form.submit(:class => "actions__input") %>
  </div>
<% end %>
