<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Photos:</strong>
</p>
  <div>
  <% @album.photos.each_with_index do |photo, index| %>
    <%= image_tag(photo) %>
  <% end %>
  </div>
<p>
  <strong>Album date:</strong>
  <%= @album.album_date %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
