<p id="notice"><%= notice %></p>

<p class="album-name">
  <%= @album.name %>
  <span>(<%= @album.photos.count %> photos) </span>
  <span> - <%= @album.album_date %></span>
</p>

<p>
  <strong>Photos:</strong>
</p>
  <div class="photos-box">
  <% @album.photos.each_with_index do |photo, index| %>
    <div class="image-box">
      <%= image_tag(photo, :class => "photos-box__image") %>
      <%= link_to 'DELETE', delete_attached_image_album_path(photo), 
      method: :delete, data: { confirm: 'Are you sure?' },
      :class => "photos-box__button" %>
    </div>
  <% end %>
  </div>


<div class="album-footer">
<%= link_to 'EDIT', edit_album_path(@album),
:class => "album-footer__button" %>
<%= link_to 'BACK', albums_path,
:class => "album-footer__button" %>
<%= link_to 'DELETE ALBUM', @album,
 method: :delete, data: { confirm: 'Are you sure?' },
:class => "album-footer__button" %>
</div>
